@use "../abstracts/variables" as *;

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;

  &__upper {
    @include flexColumn;
  }

  &__lower {
    @include flexColumn;

    a {
      transition: 0.5s;

      &:hover {
        color: $highlight;
      }

      span {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 1px;
          left: 1px;
          bottom: -1px;
          background-color: $highlight;
          transition: all 0.2s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  .null {
    color: $null;
  }
}
