@use "../abstracts/variables" as *;
@use "./cardBody";

@mixin normalFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  @include normalFlex;
  width: 100%;
  height: 100vh;

  &__container {
    width: 85%;
    padding: 15px;

    background-color: $card;
    border-radius: $baseBR;
  }

  &__avatar {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;

    img {
      width: 20%;
      border-radius: $circle;
    }
  }
}

.card__content {
  padding: 0 10px;
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 20px;

  &__header {
    @include normalFlex;
    justify-content: space-between;

    .header__username {
      font-size: $lgFont;
      font-weight: $semiFW;
    }

    .header__active {
      font-size: $smFont;

      span {
        margin-right: 5px;
        font-size: $xsFont;
        color: $highlight;
      }
    }
  }
}
