@use "../abstracts/variables" as *;

.body {
  .body__bio {
    text-align: center;
    margin-bottom: 20px;

    &__none {
      color: $null;
    }
  }

  .body__stats {
    background-color: $innerCard;
    border-radius: $baseBR;
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    &__content {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .shame {
        font-size: $xsFont;
      }

      span {
        margin-left: 5px;
        font-weight: $boldFW;
        font-size: $baseFont;
      }
    }
  }
}
