@use "../abstracts/variables" as *;
@use "../util/breakpoints" as *;
@use "../abstracts/animations" as *;

.repolist {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  max-height: 500px;
  overflow: hidden;

  @include breakpoint(tablet) {
    max-width: $tabletMW;
  }

  &__container {
    padding: 10px;
    width: 100%;
    background-color: $card;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: $baseBR;

    display: grid;
    gap: 10px;

    @include breakpoint(tablet) {
      grid-template-columns: 1fr 1fr;
    }

    &::-webkit-scrollbar {
      width: 5px;
      background-color: $card;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $highlight;
      border-radius: $baseBR;

      &:hover {
        background-color: darken($highlight, 10%);
      }
    }

    a {
      text-align: center;
      padding: 20px 0;
      cursor: pointer;

      transition: 0.5s;
      background-color: $innerCard;

      span {
        transition: 0.5s;
        position: relative;
      }
      span::after {
        @include underline;
      }

      &:hover {
        background-color: darken($innerCard, 10%);

        span {
          color: $highlight;
          &::after {
            width: 100%;
          }
        }
      }
    }

    &__empty {
      display: grid;
      text-align: center;

      @include breakpoint(tablet) {
        grid-column: 1/3;
      }

      iframe {
        width: 100%;
        margin-top: 10px;
      }

      p {
        font-family: $statsFont;
        background-color: $innerCard;
        padding: 5px;
        border-radius: $baseBR;
      }
    }
  }
}
