@use "../abstracts/variables" as *;
@use "../abstracts/animations";

.searchbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__unmounted {
    position: absolute;
    right: 10%;
    color: darken($highlight, 20%);
    font-size: $xlFont;
    transition: 0.25s;
    cursor: pointer;

    &::after {
      content: "Click to Search";
      position: absolute;
      top: 0;
    }

    &:hover {
      color: $highlight;
    }
  }

  &__form {
    width: 85%;
    position: relative;
    transition: 1s;
  }

  &__icon {
    position: absolute;
    top: 8px;
    left: 10px;
    color: $highlight;
    font-size: $xlFont;
    cursor: pointer;

    &:hover {
      color: darken($highlight, 20%);
    }
  }

  &__input {
    width: 100%;
    border-radius: $baseBR;
    border: none;
    padding: 12px;
    padding-left: 50px;
    background-color: $card;
    font-family: $textFont;
    font-size: $baseFont;
    color: $text;

    &:focus {
      outline: none;
    }
  }

  &__button {
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: $baseBR;
    background-color: $highlight;
    font-family: $textFont;
    transition: 0.2s;

    &:hover {
      background-color: darken($highlight, 10%);
      color: $text;
    }
  }
}
