/* CONTAINS ALL SEARCHBARS' CSS */

@use "../abstracts/variables" as *;
@use "../util/breakpoints" as *;

/* Default Icons */
@mixin searchIcons {
  position: absolute;
  bottom: -15px;
  color: darken($highlight, 20%);
  font-size: $xlFont;
  transition: 0.25s;
  cursor: pointer;
  animation: fadeIn 450ms ease-in;

  &:hover {
    color: $highlight;
  }
}

/* Icons inside searchbar */
@mixin icons {
  position: absolute;
  top: 8px;

  color: $highlight;
  font-size: $xlFont;
  cursor: pointer;

  &:hover {
    color: darken($highlight, 20%);
  }
}

.searchbar {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(tablet) {
    max-width: $tabletMW;
    margin-top: 40px;
  }

  &__icons {
    padding-bottom: 45px;
  }

  &__userSearch {
    @include searchIcons;
    left: 0;
  }

  &__repoSearch {
    @include searchIcons;
    right: 0;
  }

  &__form {
    width: 100%;
    position: relative;
    transition: 1s;
  }

  &__icon {
    @include icons;
  }

  &__input {
    width: 100%;
    border-radius: $baseBR;
    border: none;
    padding: 12px;
    padding-left: 50px;
    background-color: $card;
    font-family: $textFont;
    font-size: $baseFont;
    color: $text;

    &:focus {
      outline: none;
    }
  }

  &__button {
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: $baseBR;
    background-color: $highlight;
    font-family: $textFont;
    transition: 0.2s;

    &:hover {
      background-color: darken($highlight, 10%);
      color: $text;
    }
  }
}
