@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@300;400;500;600;700&family=VT323&display=swap");
/* Colors */
$bg: #151b2e;
$card: #202a46;
$text: #e2e7f3;
$null: #afafafb6;
$highlight: #00ffdd;
$innerCard: #161b2e;

/* Fonts */
$textFont: "Montserrat", sans-serif;
$nameFont: "Roboto Mono", monospace;
$statsFont: "VT323", monospace;

$baseFont: 1rem;
$xsFont: $baseFont * 0.5;
$smFont: $baseFont * 0.75;
$lgFont: $baseFont * 1.5;
$xlFont: $baseFont * 1.75;
$xxlFont: $baseFont * 2;

$baseFW: 500;
$thinFW: 300;
$semiFW: 600;
$boldFW: 700;
$xtraFW: 800;

/* borders */
$baseBR: 5px;
$circle: 50%;
