@use "../../abstracts/variables" as *;
@use "../../util/breakpoints" as *;

.body {
  margin: 10px 0;

  .body__bio {
    margin-bottom: 30px;
    font-size: $smFont;

    &__none {
      color: $null;
    }
  }

  .body__stats {
    background-color: $innerCard;
    border-radius: $baseBR;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    font-family: $statsFont;

    @include breakpoint(tablet) {
      flex-direction: row;
      justify-content: space-evenly;
    }

    &__content {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @include breakpoint(tablet) {
      }

      p {
        font-size: $lgFont;

        @include breakpoint(tablet) {
          font-size: $lgFont;
        }
      }

      .shame {
        font-size: $smFont;
      }

      span {
        margin-left: 5px;
        font-weight: $boldFW;
        font-size: $lgFont;
      }

      @include breakpoint(tablet) {
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}
