@use "../../abstracts/variables" as *;
@use "../../util/breakpoints" as *;
@use "./cardBody";
@use "./cardFooter";

@mixin aka {
  margin-left: 5px;
  font-size: $smFont;
  font-family: $statsFont;
  color: $highlight;
}

.card {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  &__container {
    width: 100%;
    padding: 20px;

    background-color: $card;
    border-radius: $baseBR;

    @include breakpoint(tablet) {
      max-width: 640px;
      display: flex;
      padding: 30px;
    }
  }

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 20px;

    @include breakpoint(tablet) {
      display: unset;
      margin: unset;
      width: 20%;
    }

    img {
      width: 20%;
      border-radius: $circle;
      @include breakpoint(tablet) {
        width: 80%;
      }
    }
  }

  &__username {
    font-size: $xxlFont;
    font-weight: $baseFW;
    font-family: $headerFont;

    span {
      @include aka;
    }

    @include breakpoint(tablet) {
      display: none;
    }
  }
}

.card__content {
  padding: 0 10px;
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @include breakpoint(tablet) {
  }

  &__header {
    display: none;

    @include breakpoint(tablet) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    .header__username {
      font-size: $lgFont;
      font-weight: $semiFW;

      span {
        @include aka;
      }
    }

    .header__active {
      font-size: $smFont;

      span {
        margin-right: 5px;
        font-size: $xsFont;
        font-family: $statsFont;
        color: $highlight;
      }
    }
  }
}
