@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* Colors */
$bg: #151b2e;
$card: #202a46;
$text: #e2e7f3;
$textHighlight: #2b4b8c;

/* Fonts */
$textFont: "Poppins", sans-serif;
